* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

// after css
nav:after,
nav ul:after {
    content: "";
    clear: both;
    display: block;
}

img {
    max-width: 100%;
}


nav {
    position: relative;
    background: #000;
    color: #fff;
    .logo {
        float: left;
        @media(max-width: 480px){
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    .ul-container {
        float: left;
        li {
            position: relative;
            list-style: none;
            float: left;
            a {
                color: #fff;
            }
            &.dropdown{
                padding-right: 20px;
                &.drop-open{
                    &:before{
                        transform: rotate(-45deg)!important;
                    }
                }
                a{
                    display: block;
                }
                @media(max-width: 480px){
                    padding-right: 0;
                }
                &:before{
                    transition: 0.2s ease-out;
                    content: "";
                    width: 5px;
                    height: 5px;
                    position: absolute;
                    right: 8px;
                    top: 50%;
                    border-right: 1px solid #fff;
                    border-bottom: 1px solid #fff;
                    transform: translateY(-50%) rotate(45deg);
                    @media(max-width: 480px){
                        top: 5px;
                        transform: rotate(45deg);
                    }
                }
                .l1{
                    left: 0;
                    top: auto;
                }
                &:hover{
                    > ul{
                        visibility: visible;
                        opacity: 1;
                    }
                    &:before{
                        top: 50%;
                        transform: translateY(-50%) rotate(-45deg);
                        @media(max-width: 480px){
                            top: 5px;
                            transform: rotate(45deg);
                        }
                    }
                 }
                ul{ 
                    transition: opacity 0.4s ease-out; 
                    background: #000;
                    position: absolute;
                    // display: none;
                    visibility: hidden;
                    opacity: 0;
                    left: 100%;
                    top: 0;
                    float: none;
                    li{
                        float: none;
                        white-space: nowrap;
                    }
                    @media(max-width: 480px){
                        position: relative;
                        left: auto;
                        visibility: visible;
                        opacity: 1;
                        display: none;
                    }
                }
            }
            @media(max-width: 480px) {
                width:100%;
            }
        }
    }
    .ham-container {
        display: none;
        float: left;
        .hamburger {
            width: 25px;
            height: 20px;
            position: relative;
        }
        span {
            transition: 0.4s ease-out;
            position: absolute;
            width: 100%;
            height: 2px;
            background: #fff;
            &:nth-child(1) {
                top: 0;
            }
            &:nth-child(2) {
                top: 9px;
                transform:scale(1);
            }
            &:nth-child(3) {
                top: 18px;
            }
        }
        // &.active {
        //     span {
        //         &:nth-child(1) {
        //             top: 9px;
        //             transform: rotate(135deg);
        //         }
        //         &:nth-child(2) {
        //             transform:scale(0);
        //         }
        //         &:nth-child(3) {
        //             top: 9px;
        //             transform: rotate(-135deg);
        //         }
        //     }
        // }
        @media(max-width: 480px) {
            display: block;
        }
    }
}

.ul-container{
    @media(max-width: 480px) {
        transition: 0.4s ease-out;
        transform: translateX(-110%);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: #000;
        box-shadow: 0 0 30px #000;
        &.active {
            transform: translateX(0);
        }
    }
}


.close{
    display: none;
    float: right;
    padding: 10px;
    i{
        display: block;
        position: relative;
        width: 35px;
        height: 35px;
        background: #fff;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        transform: rotate(45deg);
        &:before{
            content: "";
            position: absolute;
            width: 50%;
            height: 2px;
            background: #000;
            top: 50%;
            left: 50%;
            transform:translate(-50%,-50%);
        }
        &:after{
            content: "";
            position: absolute;
            width: 2px;
            height: 50%;
            background: #000;
            top: 50%;
            left: 50%;
            transform:translate(-50%,-50%);
        }
    }
    @media(max-width: 480px){
        display: block;
    }
}